* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}
/*header area*/
header {
    background-color: #fff; 
    padding: 10px 0;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    font-size: 1.2rem;
}

header img {
    max-width: 200px;
}

/*product images*/
.product-images img{
    border-radius: 20px;
    padding: 1rem;
}

/*nav bar*/
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    color: #222; /* Changed the text color */
    text-decoration: none;
}

main {
    padding: 40px 0;
}

/* Product Images Section */
.product-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display 2 images in each row */
    gap: 0px;
}

.product-images img {
    width: 100%;
}

/* Sweetheart's Affair Section */
.sweethearts-affair {
    padding: 40px 0;
}

.sweethearts-affair h1 {
    font-size: 2.027rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.sweethearts-affair h3 {
    font-size: 1.266rem;
    text-transform: uppercase;
}

.sweethearts-affair p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sweethearts-affair p.price {
    font-size: 1.802rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Behind the Dough Section */
.behind-the-dough {
    padding: 40px 0;
}

.behind-the-dough {
    background-color:  #f8fafc;
}

.behind-the-dough p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Testimonials Section */
/* Testimonials Section */
.testimonials {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    padding: 40px 0;
    background-color: #000;
    margin-bottom: 20px;
    color: #fff;
}

.testimonial {
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
}

/* Remove right margin from last testimonial to prevent overflow */
.testimonial:last-child {
    margin-right: 0;
}

.testimonial .author {
    font-style: italic;
}

/*What people are saying H2 (I had to put it in a sep class because it wasnt working*/
.what-people-are-saying {
    color:#fff;
    text-align: center;
}

/* Try it with Section */
.try-it-with .container {
    display: flex;
    justify-content: space-between; 
}

.product-1-container,
.product-2-container,
.product-3-container,
.product-4-container {
    background-color: #f8fafc; 
    flex: 1;
    margin: 0 10px; 
    padding: 0px; 
    border-radius: 8px; /*rounded corners */
    text-align: center; 
}

.product-1,
.product-2,
.product-3,
.product-4 {
    max-width: 100%;
}

.product-1 img,
.product-2 img,
.product-3 img,
.product-4 img {
    max-width: 100%; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.product-1 p,
.product-2 p,
.product-3 p,
.product-4 p {
    font-weight: bold; /* Make all <p> elements bold */
    font-size: 1.50rem;
    margin-bottom: 1rem; /* Add space below the <p> elements */
}

.product-1 .price,
.product-2 .price,
.product-3 .price,
.product-4 .price {
   font-weight: 100; /* Leave the <p class="price"> elements normal */
   font-size: 1.2rem;
   margin-top: 0.5rem;
   margin-bottom: 1rem;
}

.try-it-with h1 {
    text-align: center;
    font-size: 2.027rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

/*footer*/
footer {
    background-color: #000;
    color: #fff;
    padding: 1.5rem;
    font-weight: 50;
}

footer p {
    text-align: center;
}
